* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

li {
  list-style: none;
}
input,
textarea {
  display: block;
  padding: 10px;
  border: 1px solid silver;
  width: 100%;
}

.container {
  max-width: 500px;
  margin: 50px auto;
}

.post {
  padding: 10px;
  border: 1px solid silver;
  margin: 5px;
}
.post__toggle-content-block{
  margin-top: 10px;
}
.post__toggle-btn{
  display: block;
  border: none;
  background: none;
  margin-bottom: 10px;
}

.post__toggle-content {
  padding: 10px;
  border: 1px solid silver;
}

.btn {
  padding: 10px;
  border: 1px solid silver;
}

.btn-del{
  background: tomato;
  color: white;
}

.add-post {
  padding: 20px;
  border: 1px solid silver;
  margin: 20px 5px;
}
.add-post-action{
  display: flex;
}